{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QR Docs</title>

    <link rel="stylesheet" href="{% static 'css/Style_.css' %}">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload_.css' %}">
  
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
  
  
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>


  <!-- MENU -->
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images\project\Screenshot_3.png' %}"
          alt="qr code"> QR Docs</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
         
          <li class="nav-item">
            <a href="{% url 'blog' %}" class="nav-link"><span data-hover="Blog">Blog</span></a>
          </li>
        
          <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link"><i class="fa-solid fa-address-card fa-3x"></i><span
                data-hover="Contact">Contact</span></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'faq' %}" class="nav-link"><span data-hover="FAQ">FAQ</span></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'CALOGIN' %}" class="nav-link"><span data-hover="CA Login">CA Login</span></a>
          </li>          
          <li class="nav-item">
            <a href="{% url 'PRLOGIN' %}" class="nav-link"><span data-hover="Promoter Login">Promoter Login</span></a>
          </li>          
        </ul>

        <ul class="navbar-nav ml-lg-auto">
          <div class="ml-lg-4">
            <div class="color-mode d-lg-flex justify-content-center align-items-center">
              <i class="color-mode-icon"></i>
              Color mode
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>


  
	<br>
	<br>


<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>This is the Blog Page</h1>
    <!-- <p>👈 &nbsp;<a class="cd-article-link" href="{% url 'home' %}">Back to Home</a></p> -->
  </div>
</header>


    <!-- FOOTER -->
    <footer class="footer py-5">
        <div class="container">
             <div class="row">

                  <div class="col-lg-12 col-12">                                
                      <p class="copyright-text text-center">Copyright &copy; 2019 Company Name . All rights reserved</p>
                      <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                  </div>
                  
             </div>
        </div>
   </footer>

   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/Headroom.js' %}"></script>
   <script src="{% static 'js/jQuery.headroom.js' %}"></script>
   <script src="{% static 'js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'js/smoothscroll.js' %}"></script>
   <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>