<form method="POST">
    {% csrf_token %}
    <div class="col-sm-12">
        <div class="form-group">
            <input id="name" type="text" name="name" class="un" class="form-control custom-form" placeholder="*Name"
                required="required" data-error="Name is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <input id="email" type="text" name="email" class="un" class="form-control custom-form" placeholder="*Email"
                required="required" data-error="Valid email is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <input id="num" type="number" name="number" class="un" class="form-control custom-form" placeholder="*Phone"
                required="required" data-error="Valid number is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-sm-12">
        <input id="address" type="address" name="address" class="un" placeholder="*Address" required="required"
            data-error="Valid Address is required.">
        <div class="help-block with-errors"></div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <input id="password" type="password" name="password" class="un" class="form-control custom-form"
                placeholder="*password" required="required">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <input id="password" type="password" name="confirmPassword" class="un" class="form-control custom-form"
                placeholder="*confirmPassword" required="required">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-sm-12">
        <p class="required">
            * These fields are required.
        </p>
        <div class="form-group">
            <input class="submit" type="submit" value="Signup">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <a>Already a User ?<br></a>
            <h5>
                <a href="{% url 'CALOGIN' %}" style="font-size: 19px; color: #01B3E4;"
                    onMouseOver="this.style.color='#033B4A'" onMouseOut="this.style.color='#01B3E4'">Go for
                    Login</a>
            </h5>
        </div>
        <h3 style="color: #ff0000;">{{msg}}</h3>
    </div>
</form>